[package]
name = "trillium-testing"
version = "0.3.1"
authors = ["Jacob Rothstein <hi@jbr.me>"]
edition = "2018"
description = "testing library for trillium applications"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trillium-rs/trillium"
readme = "../README.md"
keywords = ["trillium", "framework", "testing"]
categories = ["web-programming::http-server", "web-programming"]

[features]
tokio = ["trillium-tokio"]
smol = ["trillium-smol"]
async-std = ["trillium-async-std"]
default = []

[dependencies]
async-dup = "1.2.2"
futures-lite = "1.12.0"
portpicker = "0.1.1"
trillium = { path = "../trillium", version = "^0.2.0"}
trillium-http = { path = "../http", version = "^0.2.0"}
trillium-server-common = { path = "../server-common", version = "^0.3.0"}
cfg-if = "1.0.0"
url = "2.2.2"

[dependencies.trillium-smol]
path = "../smol"
version = "^0.2.0"
optional = true

[dependencies.trillium-tokio]
path = "../tokio"
version = "^0.2.0"
optional = true

[dependencies.trillium-async-std]
path = "../async-std"
version = "^0.2.0"
optional = true

[dev-dependencies]
trillium-logger = { path = "../logger" }
trillium-smol = { path = "../smol" }

[[example]]
name = "testing"
test = true
