[package]
name = "trillium-testing"
version = "0.6.1"
authors = ["Jacob Rothstein <hi@jbr.me>"]
edition = "2021"
description = "testing library for trillium applications"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trillium-rs/trillium"
readme = "../README.md"
keywords = ["trillium", "framework", "testing"]
categories = ["web-programming::http-server", "web-programming"]

[package.metadata.docs.rs]
features = ["smol"]

[features]
tokio = ["trillium-tokio"]
smol = ["trillium-smol"]
async-std = ["trillium-async-std"]
default = []

[dependencies]
async-dup = "1.2.4"
futures-lite = "2.1.0"
portpicker = "0.1.1"
trillium = { path = "../trillium", version = "0.2.19" }
trillium-http = { path = "../http", version = "0.3.16" }
trillium-server-common = { path = "../server-common", version = "0.5.2" }
cfg-if = "1.0.0"
url = "2.5.0"
async-channel = "2.1.1"
trillium-macros = { version = "0.0.6", path = "../macros" }
dashmap = "5.5.3"
once_cell = "1.19.0"
fastrand = "2.0.1"

[dependencies.trillium-smol]
path = "../smol"
version = "0.4.0"
optional = true

[dependencies.trillium-tokio]
path = "../tokio"
version = "0.4.0"
optional = true

[dependencies.trillium-async-std]
path = "../async-std"
version = "0.4.0"
optional = true

[dev-dependencies]
test-harness = "0.2.0"
trillium-client = { path = "../client", features = ["json"] }
trillium-logger = { path = "../logger" }
trillium-smol = { path = "../smol" }

[[example]]
name = "testing"
test = true
