[package]
name = "trillium-smol"
version = "0.3.1"
authors = ["Jacob Rothstein <hi@jbr.me>"]
edition = "2021"
description = "smol runtime adapter for trillium.rs"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trillium-rs/trillium"
readme = "../README.md"
keywords = ["trillium", "framework", "async"]
categories = ["web-programming::http-server", "web-programming"]

[dependencies]
async-global-executor = "2.3.1"
async-io = "1.13.0"
async-net = "1.7.0"
futures-lite = "1.13.0"
log = "0.4.19"
trillium = { path = "../trillium", version = "^0.2.0" }
trillium-http = { path = "../http", version = "^0.3.0" }
trillium-macros = { version = "0.0.4", path = "../macros" }
trillium-server-common = { path = "../server-common", version = "^0.5.0" }

[target.'cfg(unix)'.dependencies]
signal-hook = "0.3.17"
signal-hook-async-std = "0.2.2"

[dev-dependencies]
env_logger = "0.10.0"
trillium-client = { path = "../client" }
trillium-logger = { path = "../logger" }
trillium-testing = { path = "../testing" }

[[example]]
name = "smol"
test = true

[package.metadata.cargo-udeps.ignore]
development = ["trillium-testing", "trillium-client"]
