[package]
name = "trillium-smol"
version = "0.4.2"
authors = ["Jacob Rothstein <hi@jbr.me>"]
edition = "2021"
description = "smol runtime adapter for trillium.rs"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trillium-rs/trillium"
readme = "../README.md"
keywords = ["trillium", "framework", "async"]
categories = ["web-programming::http-server", "web-programming"]

[dependencies]
async-executor = "1.10.0"
async-global-executor = {version = "2.4.1", features = ["async-io"] }
async-io = "2.2.2"
async-net = "2.0.0"
async-task = "4.7.0"
futures-lite = "2.1.0"
log = "0.4.20"
trillium = { path = "../trillium", version = "0.2.20" }
trillium-http = { path = "../http", version = "0.3.17" }
trillium-macros = { version = "0.0.6", path = "../macros" }
trillium-server-common = { path = "../server-common", version = "0.5.2" }

[target.'cfg(unix)'.dependencies]
signal-hook = "0.3.17"
async-signal = "0.2.8"

[dev-dependencies]
env_logger = "0.11.0"
tempfile = "3.10.1"
test-harness = "0.2.0"
trillium-client = { path = "../client" }
trillium-logger = { path = "../logger" }
trillium-testing = { path = "../testing" }

[[example]]
name = "smol"
test = true

[package.metadata.cargo-udeps.ignore]
development = ["trillium-testing", "trillium-client"]
