[package]
name = "trillium-static-compiled"
version = "0.5.2"
authors = ["Jacob Rothstein <hi@jbr.me>"]
edition = "2021"
description = "compile-time static assets for trillium.rs"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trillium-rs/trillium"
readme = "../README.md"
keywords = ["trillium", "framework", "async"]
categories = ["web-programming::http-server", "web-programming"]

[dependencies]
log = "0.4.20"
mime = "0.3.17"
mime_guess = "2.0.4"
trillium = { path = "../trillium", version = "0.2.20" }
httpdate = "1.0.3"
trillium-static-compiled-macros = { path = "../static-compiled-macros", version = "0.1.1" }

[dev-dependencies]
trillium-caching-headers = { path = "../caching-headers" }
trillium-logger = { path = "../logger" }
trillium-smol = { path = "../smol" }
trillium-testing = { path = "../testing" }

[features]

[package.metadata.cargo-udeps.ignore]
development = ["trillium-testing"]
