[package]
name = "trillium-rustls"
version = "0.4.0"
authors = ["Jacob Rothstein <hi@jbr.me>"]
edition = "2021"
description = "rustls adapter for trillium.rs"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trillium-rs/trillium"
readme = "../README.md"
keywords = ["trillium", "framework", "async"]
categories = ["web-programming::http-server", "web-programming"]

[features]
default = ["native-roots"]
native-roots = ["dep:rustls-native-certs"]

[dependencies]
async-rustls = "0.4.0"
log = "0.4.19"
rustls = "0.21.0"
rustls-native-certs = { version = "0.6.2", optional = true }
rustls-pemfile = "2.0.0"
rustls-webpki = "0.100.1"
trillium-server-common = { path = "../server-common", version = "0.4.0" }
webpki-roots = "0.23"

[dev-dependencies]
env_logger = "0.10.1"
portpicker = "0.1.1"
test-harness = "0.1.1"
trillium = { path = "../trillium" }
trillium-client = { path = "../client" }
trillium-native-tls = { path = "../native-tls" }
trillium-smol = { path = "../smol" }
trillium-testing = { path = "../testing" }
