[package]
name = "trillium-rustls"
version = "0.8.1"
authors = ["Jacob Rothstein <hi@jbr.me>"]
edition = "2021"
description = "rustls adapter for trillium.rs"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trillium-rs/trillium"
readme = "../README.md"
keywords = ["trillium", "framework", "async"]
categories = ["web-programming::http-server", "web-programming"]

[features]
default = ["platform-verifier", "aws-lc-rs", "client", "server", "tls12"]
aws-lc-rs = ["futures-rustls/aws-lc-rs"]
custom-crypto-provider = []
fips = ["futures-rustls/fips"]
ring = ["futures-rustls/ring"]
tls12 = ["futures-rustls/tls12"]
client = ["dep:webpki-roots"]
server = ["dep:rustls-pemfile"]
platform-verifier = ["dep:rustls-platform-verifier"]

[dependencies.futures-rustls]
version = "0.26"
default-features = false
features = ["logging"]

[dependencies]
log = "0.4.29"
rustls-pemfile = { version = "2.2.0", optional = true }
rustls-platform-verifier = { version = "0.6.2", optional = true }
trillium-server-common = { path = "../server-common", version = "0.5.2" }
webpki-roots = { version = "1.0", optional = true }

[dev-dependencies]
env_logger = "0.11.8"
portpicker = "0.1.1"
test-harness = "0.3.1"
trillium = { path = "../trillium" }
trillium-client = { path = "../client" }
trillium-native-tls = { path = "../native-tls" }
trillium-smol = { path = "../smol" }
trillium-testing = { path = "../testing" }

[package.metadata.cargo-udeps.ignore]
# because there is no way to say [dependencies.'cfg(not(feature = "platform-verifier"))']
normal = ["webpki-roots"] 
