name: CI

on:
  pull_request:
  push:
    branches:
      - main

# env:
#   RUSTFLAGS: -Dwarnings

jobs:
  test:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        rust: [stable]
        runtime: [smol, tokio, async-std]
    steps:
    - uses: actions/checkout@master
    - name: Install ${{ matrix.rust }}
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        override: true

    - name: Rust Cache
      uses: Swatinem/rust-cache@v1.3.0

    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --workspace --features ${{ matrix.runtime }} --no-fail-fast

  check_fmt_and_docs:
    name: Lints and Docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        components: rustfmt, clippy
        override: true

    - uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features
        
    - name: Format
      run: cargo fmt --all -- --check

    - name: Run cargo-udeps
      uses: aig787/cargo-udeps-action@v1
      with:
        version: 'latest'
        args: '--all-targets'

    - name: Docs
      run: cargo doc --no-deps --features smol
