name: coverage

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main

jobs:
  test:
    name: coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined
    steps:
      - name: Install mkcert
        run: curl -JLO "https://dl.filippo.io/mkcert/latest?for=linux/amd64" && chmod +x mkcert-v*-linux-amd64 && cp mkcert-v*-linux-amd64 /usr/local/bin/mkcert
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: generate a cert for tls testing
        run: mkcert -install && mkcert localhost
      - name: get-cmake
        uses: lukka/get-cmake@v3.29.0
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.3
      - name: Generate code coverage
        run: cargo +nightly tarpaulin --verbose --features smol,trillium-testing/smol,trillium-http/serde --workspace --timeout 120 --out xml
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v4
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: false
